<<<<<<< HEAD
body, html {
    font-family: Arial, sans-serif;
    
}
 header{
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:18px;
   background-color: rgba(96, 13, 173, 0.699);
   border-bottom: 2px solid #000000;
   padding-bottom: 15px;
}


.header-element {
   /*border-right: 1px solid #000; /* Adjust thickness and color as needed */
   padding-right: 20px; /* Adjust spacing between elements */
}

a {
   color: black;
   text-decoration: none;
   font-weight: bold;
 }

 a:hover {
   color: rgb(135, 202, 233); /* Change to the desired hover color */
}


/*Footer*/

.section {
  display: flex;
  justify-content: space-between; 
  list-style-type: none;
}

.column {
  flex: 1; /* Cada columna ocupa un espacio igual */
  margin: 0 10px; /* Espaciado entre columnas */
  padding: 50px; /* Relleno interno de cada columna */
  /* Color de fondo para visualizaci칩n */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AetherLandLogo {
    width: 120px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/AetherLand Logo Big.png");
    background-size: cover;
 
  }

  .setup-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/infologo.png");
    background-size: cover;  
    
 
 }
 .login-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/Userlogo.png");
    background-size: cover;  
 
 }
 .signup-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/Userlogo.png");
    background-size: cover;  
 
 }
 .ranks-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/rankslogo.png");
    background-size: cover;  
 
 }
 .torneos-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/Torneoslogo.png");
    background-size: cover;  
 
 } 

 main{
    
 }

 h1{
   
   color: rgb(29, 122, 158);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }

 h2{
   
   color: rgb(97, 5, 5);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 1px dotted #000000;
   padding-bottom: 20px;
   
 }
/*base GRID*/

.Juegos{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content:center;
   gap:1em;
}
/*juegos logos*/
.Plutoniumlogo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/Plutoniumlogo.jpg");
  background-size: contain;
  
}

.Plutoniumlogo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
}  

.KOF02logo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/KOF02logo.png");
  background-size: contain;
  
}

.KOF02logo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
}  


.GGX2logo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/GGXlogo.png");
  background-size: contain; 
}

.GGX2logo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
}
 
.Xonoticlogo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/Xonoticlogo.png");
  background-size: contain; 
}

.Xonoticlogo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
}

.SF3logo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/SF3logo.png");
  background-size: contain;
}

.SF3logo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
}
.PMlogo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/PMlogo.png");
  background-size: contain;
  
}

.PMlogo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
} 

.Tetriologo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/Tetriologo.png");
  background-size: contain;
}

.Tetriologo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
}

.sm64logo{
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("Imagenes/sm64logo.png");
  background-size: contain;
}

.sm64logo:hover{
  transition: transform 0.2s ease;
  transform: scale(1.5);
  overflow: hidden; 
}




.imagen-zoom {
  transition: transform 0.3s ease; /* Suaviza la transici칩n */
}

.imagen-zoom:hover {
  transform: scale(1.2); /* Aumenta el tama침o de la imagen al pasar el cursor */
}
 
 /* Imagenes en cajas */

 .box {
  width: 120px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */ /* Adjust the height as needed */
   border: 3px solid #ccc;
   
 }
 
 .box:hover {
   background-color: rgba(0, 162, 255, 0.356); /* Change the background color when hovered over */
 }
 

 
=======
body, html {
    font-family: Arial, sans-serif;
    background-image: url("Imagenes/Fondo.jpeg");
}
 header{
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:18px;
   border-bottom: 2px solid #1c7700;
   padding-bottom: 15px;
}


.header-element {
   /*border-right: 1px solid #000; /* Adjust thickness and color as needed */
   padding-right: 20px; /* Adjust spacing between elements */
}

a {
   color: black;
   text-decoration: none;
   font-weight: bold;
 }

 a:hover {
   color: rgb(135, 202, 233); /* Change to the desired hover color */
}


/*Footer*/

.section {
  display: flex;
  justify-content: space-between; 
  list-style-type: none;
}

.column {
  flex: 1; /* Cada columna ocupa un espacio igual */
  margin: 0 10px; /* Espaciado entre columnas */
  padding: 50px; /* Relleno interno de cada columna */
  /* Color de fondo para visualizaci칩n */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AetherLandLogo {
    width: 120px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/AetherLand Logo Big.png");
    background-size: cover;
 
  }

  .setup-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/infologo.png");
    background-size: cover;  
    
 
 }
 .login-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/Userlogo.png");
    background-size: cover;  
 
 }
 .signup-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/Userlogo.png");
    background-size: cover;  
 
 }
 .ranks-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/rankslogo.png");
    background-size: cover;  
 
 }
 .torneos-icon{
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url("Imagenes/Torneoslogo.png");
    background-size: cover;  
 
 } 

 main{
    
 }

 h1{
   
   color: rgb(29, 122, 158);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }

 h2{
   
   color: rgb(97, 5, 5);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 1px dotted #000000;
   padding-bottom: 20px;
   
 }
/*base GRID*/

.Juegos{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content:center;
   gap:1em;
}
/*juegos logos*/
.KOF02logo{
    width: 150px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/KOF02logo.png");
    background-size: cover;
    
  }
  .GGX2logo{
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/GGXlogo.png");
    background-size: cover;
  }
  .Xonoticlogo{
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/Xonoticlogo.png");
    background-size: cover;
  }
  .SF3logo{
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/SF3logo.png");
    background-size: cover;
  }
  .MSlogo{
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/MSlogo.png");
    background-size: cover;
  }
 .PMlogo{
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/PMlogo.png");
    background-size: cover;
 }
 .Tetriologo{
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/Tetriologo.png");
    background-size: cover;
 }
 .Plutoniumlogo{
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */
    background-image: url("Imagenes/Plutoniumlogo.jpg");
    background-size: cover;   
 }
 
 /* Imagenes en cajas */

 .box {
   width: 150px; /* Adjust width as needed */
   height: 60px; /* Adjust height as needed */ /* Adjust the height as needed */
   border: 3px solid #ccc;
   padding: 10px;
 }
 
 .box:hover {
   background-color: rgba(0, 162, 255, 0.356); /* Change the background color when hovered over */
 }
 
 .boxtextcontent {
   display:flex;
   justify-content: center;
   align-content:center;
   font-size: 15px;
   font-weight: bold;
   
 }

 .boxtext {
   width: 120px; /* Adjust width as needed */
   height: 20px; /* Adjust height as needed */ /* Adjust the height as needed */
   border: 3px solid #ccc;
   padding: 3px;
   
   
 }

 .boxtext:hover {
   background-color: rgb(78, 2, 2); /* Change the background color when hovered over */
 }
 
>>>>>>> b5a97c856bfa11d2c61985cd820d29fe11e6a265
 